chroma-hnswlib==0.7.3
chromadb==0.4.12
click==8.1.7
colorama==0.4.6
fastapi==0.99.1
gradio==3.44.4
gradio_client==0.5.1
joblib==1.1.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.16.0
langchain==0.0.300
pydantic==1.10.12
pydantic_core==2.6.3
pypdf==3.16.1
PyYAML==6.0.1
requests==2.28.1
tiktoken==0.5.1
tokenizers==0.14.0
uvicorn==0.23.2
openai==0.27.6
openapi-schema-pydantic==1.2.4

